logicapps/publisher/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Transform_using_Data_Mapper_XSLT": {
                "type": "Xslt",
                "kind": "DataMapper",
                "inputs": {
                    "content": "@triggerOutputs()",
                    "map": {
                        "source": "LogicApp",
                        "name": "mapFlatDevices.xslt"
                    }
                },
                "runAfter": {}
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "@appsetting('sbtopic')",
                        "message": {
                            "contentData": "@body('Transform_using_Data_Mapper_XSLT')",
                            "contentType": "application/json"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Transform_using_Data_Mapper_XSLT": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Response_-_success": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "Message sent"
                },
                "runAfter": {
                    "Send_message": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Response_-_fail": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 500,
                    "body": "Something went wrong"
                },
                "runAfter": {
                    "Send_message": [
                        "FAILED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "devices": {
                                "type": "string"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "phone": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}